* {
    margin: 0;
    padding: 0;
}

body {
    background: #030712;
    width: 1440px;
    height: 1280px;
}

#first {

    width: 1240px;
    height: 490px;
    margin-left: 30%;
    display: flex;
    gap: 50px;
    margin-top: 4%;
}

#first .item1 {
    width: 688px;
    height: 408px;
    background: var(--grey-900, #111827);
    border-radius: 12px;
}


.item2 {
    background: var(--grey-900, #111827);
    width: 480px;
    height: 408px;
    background: rgb(22, 17, 28);
    border-radius: 12px;
}

#first .item2 img {
    width: 480px;
    height: 408px;
    border-radius: 12px;
}

#second {
    width: 1240px;
    height: 550px;
    margin-left: 30%;
    display: flex;

    margin-top: -2%;
}

#second .item3 {
    height: 440px;
    width: 540px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 3em 3.5em;
    justify-content: start;

}


#second .item3 .box {
    background: var(--grey-900, #111827);
    border-radius: 12px;

}

#second .item3 .box1,
.box2 {
    width: 220px;
    height: 296px;

}

#second .item3 .box3 {
    grid-column: span 2;
    height: 296px;
    width: 480px;
}


#second .item4 {
    height: 640px;
    width: 688px;
    background: var(--grey-900, #111827);
    border-radius: 12px;

}


.navbar{
    display: flex;
    width: 324px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 50px;
    margin-top: 10%;
    margin-left: 60%;
    border-radius: 100px;
    background: var(--grey-900, #111827);
    backdrop-filter: blur(4px);
}

.navbar a{
    height: 52px;
    width: 52px;
    background: var(--grey-800, #1F2937);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.navbar .rafsan{
    background: black;
}

.navbar a:hover{
    background: black;
    transition: .2s ease-in;
    
    
}